@use "animation";

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include animation.fade-in();
}

.admin-view-product-list {
    &__table {
        background: none;
    }

    &__paginator {
        background: none;
    }
}
