:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    height: 100vh;
    width: 320px;

    padding: 12px 8px;
    background-color: var(--mat-sys-surface);
    box-shadow: 8px 8px 8px 2px rgba(133, 151, 137, 0.4);

    border-radius: 0 12px 12px 0;
    border-right: 2px solid var(--color-border-divider);
    border-bottom: 2px solid var(--color-border-divider);
    border-top: 2px solid var(--color-border-divider);
}

.admin-sidenav {
    &__link {
        display: flex;
        gap: 8px;
        cursor: pointer;
        padding: 14px 16px;
        // color: var(--mat-sys-primary);
    }

    &__icon {
        color: var(--mat-sys-primary);
        opacity: 0.65;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.9;
        }
    }

    &__label {
        color: var(--mat-sys-secondary);
    }
}
