@use "animation";

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    min-height: 100vh;

    padding: 12px 8px;
    background-color: var(--mat-sys-surface);
    box-shadow: 8px 8px 8px 2px var(--border-shadow);

    border-radius: 0 12px 12px 0;
    border: 1px solid var(--border-color);
}

.admin-sidenav {

    &__top {
        width: 240px;
        transition: width ease-in-out 0.3s;

        &_collapsed {
            width: 72px;
        }
    }

    &__link {
        display: flex;
        gap: 8px;
        padding: 0 16px;
        transition: padding ease-in-out 0.3s;

        &_collapsed {
            padding: 0 8px;
        }

        &.active-link > .admin-sidenav__label {
            font-weight: 600;
        }
    }

    &__icon {
        color: var(--mat-sys-primary);
        opacity: 0.8;
        flex: 0 0 auto;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
    }

    &__collapse-button {
        margin: 0 16px 32px;
    }

    &__label {
        color: var(--mat-sys-secondary);
        width: 100%;
        overflow: hidden;
        opacity: 1;
        transition: all 0.3s ease-in-out;

        &_collapsed {
            width: 0;
            opacity: 0;
        }
    }
}
