:host {
    display: flex;
    gap: 12px;
}

.admin-page {
    &__main {
        width: 100%;
        padding: 24px 48px;
        border-radius: 12px;
        background-color: var(--mat-sys-surface);
    }

}
