[data-theme='dark'] {
    ////////////////////////////////////
    // Base colors
    --color-text-primary: #F5F9FF;
    --color-text-white: #FFFFFF;
    --color-text-black: #333c36;

    ////////////////////////////////////
    // Surface

    --color-surface-card: #183c28;
    --color-surface-fill-1: #254b34;

    --color-surface-opacity-1: rgba(46, 78, 60, 0.64);
    --color-surface-opacity-2: rgba(100, 190, 120, 0.1);
    --color-surface-opacity-3: rgba(130, 210, 150, 0.12);

    ////////////////////////////////////
    // Buttons

    --color-buttons-primary: #2CA54A;
    --color-buttons-primary-hover: #258E3F;
    --color-buttons-primary-pressed: #1E7735;
    --color-buttons-primary-text: #F5F9FF;

    ////////////////////////////////////
    // Border

    --color-border-divider: #2b6442;
}
