:root {
    ////////////////////////////////////
    // Base colors
    --color-text-primary: #383f3c;
    --color-text-white: #FFFFFF;
    --color-text-black: #333c36;

    ////////////////////////////////////
    // Surface

    --color-surface-card: #f3f8f5;
    --color-surface-fill-1: #f2f9f5;

    --color-surface-opacity-1: rgba(44, 165, 74, 0.09);
    --color-surface-opacity-2: rgba(37, 142, 63, 0.1);
    --color-surface-opacity-3: rgba(30, 119, 53, 0.12);

    ////////////////////////////////////
    // Buttons

    --color-buttons-primary: #2CA54A;
    --color-buttons-primary-hover: #258E3F;
    --color-buttons-primary-pressed: #1E7735;
    --color-buttons-primary-text: #FFFFFF;

    ////////////////////////////////////
    // Border

    --color-border-divider: #DBF0E0;
}
